{{ form_start(form) }} 

{{ form_widget(form) }}

{{form_rest(form)}}
 <div class="form-group mT-10">
    <small class="form-text text-muted"><strong class="c-red-900">*</strong> champ obligatoire.</small>
    <button type="submit" class="btn btn-primary form-control mT-10">Enregistrer</button>
</div>    <!-- /.form-group -->

{{ form_end(form) }}
