<li class="notifications dropdown">
    <span class="counter bgc-blue-600">3</span>
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-pin-alt"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Nouveaux abonnés</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">adress@email.com</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">il y a 3 minutes</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
            <span>
              <a href="email" class="c-grey-600 cH-blue fsz-sm td-n">Voir la liste de tous les nouveaux abonnés <i class="fs-xs ti-angle-right mL-10"></i></a>
            </span>
        </li>
    </ul>
</li>



<li class="notifications dropdown">
    <span class="counter bgc-green-600">3</span>
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-email"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-email pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Nouveaux Messages</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">John Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">5 mins ago</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
        Want to create your own customized data generator for your app...
      </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Moo Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">15 mins ago</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
        Want to create your own customized data generator for your app...
      </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Lee Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">25 mins ago</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
        Want to create your own customized data generator for your app...
      </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
            <span>
              <a href="email" class="c-grey-600 cH-blue fsz-sm td-n">Voir tous les messages non lus<i class="fs-xs ti-angle-right mL-10"></i></a>
            </span>
        </li>
    </ul>
</li>



<li class="notifications dropdown">
    <span class="counter">3</span>
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-user"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-stamp pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Partenaires en attentes</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">John Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">il y a 3 minutes</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                    Nom de la société
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Moo Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">il y a 5 mois</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                    Want to create your own customized data generator for your app...
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
            <span>
              <a href="email" class="c-grey-600 cH-blue fsz-sm td-n">Voir tous les partenaires en attentes<i class="fs-xs ti-angle-right mL-10"></i></a>
            </span>
        </li>
    </ul>
</li>


<li class="notifications dropdown">
    <span class="counter bgc-deep-orange-600">3</span>
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-layout-cta-right"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Nouvelles publications des partenaires</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Nom de la société</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">il y a 3 minutes</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                    Titre de la pub
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Société number 2</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">il y a 5 mois</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                    Titre ou description de la pub
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
            <span>
              <a href="email" class="c-grey-600 cH-blue fsz-sm td-n">Voir tous les publications non lus de nos partenaires <i class="fs-xs ti-angle-right mL-10"></i></a>
            </span>
        </li>
    </ul>
</li>