{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h4 class="fw-300 c-grey-900 mB-20 text-center">Mot de passe perdu</h4>
<h6 class="fw-300 c-grey-900 mB-20 text-center">Récupération du mot de passe ?</h>
<small class="fw-300 c-grey-900 mB-20 text-center">Compléter le formulaire, un email vous seras envoyé.<br />Il contiendra la procédure à suivre pour récupérer votre mot de passe.</small>

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">

	<div class="form-group">
   		{{ form_widget(form) }}
	</div>

  <div class="form-group">
        <button type="submit" class="btn btn-flat m-b-30 m-t-30" id="_submit" name="_submit" value="{{ 'resetting.reset.submit'|trans }}" >Envoyer</button>
  </div>

</form>
{% endblock fos_user_content %}
